body{background-color: aliceblue;text-align: justify;font-size: 18px;}
h1{text-align: center;background-color: black;color: black;}
b3{text-align: justify;color: aliceblue;}
b{color: black;font-size: 18px;}
